
    <!doctype html>
    <html>
    <head>
    <title>Результаты симплекс-метода</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>
    <body>
    <h1>Оптимальное решение</h1>
    $$X = \mathtt{\text{[[2. 5. 0. 2. 0.]]}}$$
    <h1>Экстремум целевой функции</h1>
    $$Z = 29.0$$
    <h1>М-метод</h1>
    <h2>М-метод не был применен</h2>
    <h1>Метод Гомори</h1>
    <h2>Итерация метода Гомори 0</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x2</th>
      <td>5</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>20</td>
    </tr>
    <tr>
      <th>x3</th>
      <td>8</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>-7</td>
      <td>-3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>$$- 0.25 x_{4} = -0.5$$<h2>Итерация метода Гомори 1</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>x4</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>-1/2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>x1</th>
      <td>0</td>
      <td>1</td>
      <td>-2</td>
      <td>5/4</td>
      <td>0</td>
      <td>15/2</td>
    </tr>
    <tr>
      <th>x4</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1/4</td>
      <td>1</td>
      <td>-1/2</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1/4</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
    <h1>Двойственный симплекс-метод</h1>
    <h2>Итерация двойственного симплекс-метода 0</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x2</th>
      <td>5</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>20</td>
    </tr>
    <tr>
      <th>x3</th>
      <td>8</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>-7</td>
      <td>-3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table><h2>Итерация двойственного симплекс-метода 1</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>x4</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>-1/2</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>x1</th>
      <td>0</td>
      <td>1</td>
      <td>-2</td>
      <td>5/4</td>
      <td>0</td>
      <td>15/2</td>
    </tr>
    <tr>
      <th>x4</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1/4</td>
      <td>1</td>
      <td>-1/2</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1/4</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table><h2>Итерация двойственного симплекс-метода 2</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>x4</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>-2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>x1</th>
      <td>0</td>
      <td>1</td>
      <td>-2</td>
      <td>0</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>x3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>-4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
    <h1>Симплекс-метод</h1>
    <h2>Итерация симплекс-метода 0</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x2</th>
      <td>5</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>20</td>
    </tr>
    <tr>
      <th>x3</th>
      <td>8</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>38</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>-7</td>
      <td>-3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table><h2>Итерация симплекс-метода 1</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x0</th>
      <td>1</td>
      <td>2/5</td>
      <td>1/5</td>
      <td>0</td>
      <td>4</td>
    </tr>
    <tr>
      <th>x3</th>
      <td>0</td>
      <td>4/5</td>
      <td>-8/5</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>0</td>
      <td>-1/5</td>
      <td>7/5</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table><h2>Итерация симплекс-метода 2</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>-1/2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>x1</th>
      <td>0</td>
      <td>1</td>
      <td>-2</td>
      <td>5/4</td>
      <td>15/2</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1/4</td>
      <td>0</td>
    </tr>
  </tbody>
</table><h2>Итерация симплекс-метода 3</h2><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>x0</th>
      <th>x1</th>
      <th>x2</th>
      <th>x3</th>
      <th>x4</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>x0</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>-2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>x1</th>
      <td>0</td>
      <td>1</td>
      <td>-2</td>
      <td>0</td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <th>x3</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>-4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Z</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
    </body>
    </html>
    